<div class="card card-info border-0 box-shadow">
  <div class="card-header text-white text-center">
      <h4><span *ngIf="!edit">Datos de</span> <span *ngIf="edit">Editando </span> la Empresa
        <button class="btn" (click)="edit = !edit">
          <i class="fa fa-edit bold text-white">
          </i>
        </button>
      </h4>
  </div>
  <div class="card-body bg-white">

      <form class="content p-4 row">
        <label for="" class="label-form col-md-1 pl-1 pr-0"><strong>Nombre:</strong></label>
        <div *ngIf="MyBodega && MyBodega.Name" class="input-group col-md-2 pl-0 pr-0 mb-2">
          <span class="form-control control-disabled" *ngIf="!edit">
            {{MyBodega.Name}}
          </span>
          <input *ngIf="edit" type="text" class="form-control" id="Nombre" name="Nombre" #Nombre=ngModel [(ngModel)]="MyBodega.Name">
        </div>
        <label for="" class="label-form col-md-1 pl-1 pr-0"><strong>Teléfono:</strong></label>
        <div *ngIf="MyBodega && MyBodega.Name" class="input-group col-md-2 pl-0 pr-0 mb-2">
          <div  hidden class="input-group-prepend">
            <span class="input-group-text">
              <!-- {{MyBodega.Representante.Ci}} -->
            </span>
          </div>
          <span  class="form-control control-disabled" *ngIf="!edit">
            {{MyBodega.Phone}}
          </span>
          <input *ngIf="edit" type="text" class="form-control" id="RUC" name="RUC" #RUC=ngModel [(ngModel)]="MyBodega.Phone">
        </div>
        
        <label for="" class="label-form col-md-1 pl-1 pr-0"><strong>Dirección:</strong></label>
        <div *ngIf="MyBodega && MyBodega.Address" class="input-group col-md-5 pl-0 pr-0 mb-2">
          <span class="form-control control-disabled" *ngIf="!edit">
            {{MyBodega.Address}}
          </span>
          <input *ngIf="edit" type="text" class="form-control" id="Address" name="Address" #Address=ngModel [(ngModel)]="MyBodega.Address">
        </div>

        <label for="" class="label-form col-md-2 pl-1 pr-0"><strong>Representante:</strong></label>
        <div class="input-group col-md-4 pl-0 pr-0 mb-2">
          <span *ngIf="MyBodega && MyBodega.By" class="form-control control-disabled">
            {{MyBodega.By.Persona.FirstName + ' ' + MyBodega.By.Persona.LastName}}
          </span>
        </div>

        <div class="text-center col-12" *ngIf="edit">
          <button class="btn btn-warning pull-left" (click)="edit = !edit; MyBodega = BufferBodega" >
            <i class="fa fa-trash"></i>
            Cancelar
          </button>
          <button class="btn btn-success pull-right" (click)="onSubmit()">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </div>
      </form>

  </div>
</div>