<div widget class="card border-0 box-shadow">
  <div class="card-header trasnparent border-0 text-muted">
    <h5 class="mb-0">Formulario de Solicitud de Pedido de Productos</h5>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
    </div>
  </div>
  <div class="card-body widget-body">
    <form action="" class="content row p-3">
      <div class="row col-sm-6 mb-3">
        <span class="col-12">
          <h4><strong>Alfibeton</strong></h4>
        </span>
        <br>
        <span class="col-12" title="El Número de Pedido se Asigna al Registrarse en el Sistema">
          <strong>N°:&nbsp;</strong> Nuevo Pedido 
          <label > 
            <i class="fa fa-question-circle-o tt" 
              title="" 
              type="button" 
              data-toggle="tooltip" 
              data-placement="top"
              data-animation="false" 
              data-original-title="El Número de Pedido se Asigna al Registrarse en el Sistema" ></i>
          </label>
        </span>
        <br>
        <span class="col-12">
          <strong>R.U.C.:</strong> 1600213495-001-001
        </span>
        <br>
        <span class="col-12">
          <strong>Representante:</strong> Omar Guevara
        </span>
        <br>
        <span class="col-12">
          <strong>Dirección Central:</strong> Plaza Aray
        </span>
        <br>
        <span class="col-12">
          <strong>Empresa de Repartos: </strong>
          <span *ngIf="SelectedEmpresa">
            {{SelectedEmpresa.Name}}
          </span>
          <span class="text-danger" *ngIf="!SelectedEmpresa">Seleccionar Empresa de Repartos*</span>
        </span>
      </div>
      <div class="row col-sm-6 mb-3">
        <span class="col-12">
          <h4>
            <strong class="text-danger" *ngIf="!SelectedBodega" >Seleccionar Bodega*
            </strong>
            <strong *ngIf="SelectedBodega" > {{SelectedBodega.Bodega.Name}} </strong>
          </h4>
        </span>
        <br>
        <span class="col-12">
          <strong>Cédula de Identidad:&nbsp;</strong> 
          <span  class="text-danger" *ngIf="!SelectedClient">Seleccionar Cliente*</span>
          <span *ngIf="SelectedClient && (!SelectedClient.Ci || SelectedClient.Ci == '')"> Sin Cédula </span>
          <span *ngIf="SelectedClient && !(!SelectedClient.Ci || SelectedClient.Ci == '')"> {{SelectedClient.Ci}} </span>
        </span>
        <br>
        <span class="col-12">
          <strong>Nombres:&nbsp;</strong> 
          <span  class="text-danger" *ngIf="!SelectedClient">Seleccionar Cliente*</span>
          <span *ngIf="SelectedClient"> {{SelectedClient.FirstName + ' ' + SelectedClient.LastName }} </span>
        </span>
        <br>
        <span class="col-12">
          <strong>Dirección:&nbsp;</strong>
          <span  class="text-danger" *ngIf="!SelectedClient">Seleccionar Cliente*</span>
          <span *ngIf="SelectedClient"> 
            <span *ngIf="SelectedClient.GPS">
              {{JSONParse(SelectedClient.GPS).address_components[0].long_name}},
              {{JSONParse(SelectedClient.GPS).address_components[1].long_name}} -
              {{JSONParse(SelectedClient.GPS).address_components[2].long_name}} -
              {{JSONParse(SelectedClient.GPS).address_components[3].long_name}} 
              <span *ngIf="JSONParse(SelectedClient.GPS).address_components[4]">
                - {{JSONParse(SelectedClient.GPS).address_components[4].long_name}} 
              </span>
              <span *ngIf="JSONParse(SelectedClient.GPS).address_components[5]">
                - {{JSONParse(SelectedClient.GPS).address_components[5].long_name}} 
              </span>
              <span *ngIf="JSONParse(SelectedClient.GPS).address_components[6]">
                - {{JSONParse(SelectedClient.GPS).address_components[6].long_name}} 
              </span>
            </span>
          </span>
        </span>
        <span class="col-12">
          <strong>Punto GPS:&nbsp;</strong>
          <span *ngIf="SelectedClient && SelectedClient.GPS">
            {{JSONStringify(JSONParse(SelectedClient.GPS).geometry.location) }}
          </span>
          <span   class="text-danger" *ngIf="!SelectedClient">
            Seleccionar Cliente*
          </span>
        </span>
      </div>

      <label for="date" class="label-form  pr-1 pl-2 col-md-2">
        Fecha de Entrega:
      </label>
      <div class="input-group col-md-3 mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-clock-o"></i>
          </div>
        </div>
        <input type="date" id="date" name="date"
          #date="ngModel" [(ngModel)]="NewPedido.OrderDate"
          class="form-control">
      </div>
      
      <label for="horario" class="label-form pl-md-5 pr-1 pl-2 col-md-1">
        Horario:
      </label>
      <div class="input-group col-md-2 mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-clock-o"></i>
          </div>
        </div>
        <select class="form-control" name="horario" id="horario"
          #horario="ngModel" [(ngModel)]="NewPedido.OrderTime">
          <option value="Mañana">Mañana</option>
          <option value="Medio Día">Medio Día</option>
          <option value="Tarde">Tarde</option>
          <option value="Noche">Noche</option>
        </select>
      </div>

      <!-- <label for="" class="label-form pr-1 pl-2 col-md-1" title="Cliente que Recibirá el Pedido">Cliente :</label> -->
      <div class="input-group pr-1 pl-2 mb-2"
      [class.col-md-4]="!SelectedClient"
      [class.col-md-12]="SelectedClient">
        <button class="btn btn-block" title="Cliente que Recibirá el Pedido" data-toggle="modal" [class.btn-success]="SelectedClient"  [class.btn-info]="!SelectedClient"
        data-target="#received-modal" >
          <span *ngIf="!SelectedClient">Seleccionar Cliente</span>
          <span *ngIf="SelectedClient">
            <strong>Cliente Seleccionado:</strong>
            {{SelectedClient.FirstName + ' ' + SelectedClient.LastName}}
            <strong>Teléfono: </strong>
            {{SelectedClient.Phone}} 
            <strong>Cédula:</strong>
            <span *ngIf="SelectedClient.Ci && SelectedClient.Ci !=''">
              {{SelectedClient.Ci}}
            </span>
            <span *ngIf="!(SelectedClient.Ci && SelectedClient.Ci !='')">
              Sin Cédula
            </span>
          </span>
        </button>
      </div>
<!-- 
      <label class="label-form  pr-1 pl-2 col-md-1" for="CurrProvincia">Provincia:</label>
      <div class="input-group col-md-2 mb-2">
        <select id="CurrProvincia" name="CurrProvincia" #CurrProvincia=ngModel (click)="LoadCantones()" (change)="LoadCantones()" [(ngModel)]="Provincia" class="form-control">
          <option value="" selected disabled>Seleccionar Provincia</option>
          <option *ngFor="let provincia of Provincias" value="{{provincia._id}}"> {{provincia.Name}} </option>
        </select>
      </div>
      
      <label class="label-form  pr-1 pl-2 pl-md-5 col-md-1" for="CurrCanton">Cat&oacute;n:</label>
      <div class="input-group col-md-2 mb-2">
        <select [disabled]="!Provincia" id="CurrCanton" name="CurrCanton" (click)="LoadParroquias()" (change)="LoadParroquias()" #CurrCanton=ngModel [(ngModel)]="Canton" class="form-control">
          <option value="" selected disabled>Seleccionar Cat&oacute;n</option>
          <option *ngFor="let canton of Cantones" value="{{canton._id}}"> {{canton.Name}} </option>
        </select>
      </div>
      
      <label class="label-form  pr-1 pl-2  pl-md-4 col-md-1" for="CurrParr">Parroquia:</label>
      <div class="input-group col-md-2">
        <select [disabled]="!Canton" id="CurrParr" name="CurrParr"  #CurrParr=ngModel [(ngModel)]="NewPedido.City" class="form-control">
          <option value="" selected disabled>Seleccionar Parroquia</option>
          <option *ngFor="let parroquia of Parroquias" value="{{parroquia._id}}"> {{parroquia.Name}} </option>
        </select>
      </div> -->

      <label for="address" class="label-form pr-1 pl-2 pl-md-4 col-md-1" title="Dirección a la que se enviarán los Productos">
        Dirección:
      </label>
      <div class="input-group col-md-2 pr-1 pl-2 mb-2">
        <button (click)="initMap()" class="btn btn-block" [class.btn-info]="!NewPedido.GPS" [class.btn-success]="NewPedido.GPS" id="toEdit" data-toggle="modal" data-target="#maps-modal">
          <i class="fas fa-map-marker-alt"></i>
          &nbsp;
          <span *ngIf="!NewPedido.GPS">Elegir Dirección</span>
          <span *ngIf="NewPedido.GPS">{{JSONParse(NewPedido.GPS).formatted_address}}</span>
        </button>
        <!-- <textarea  class="form-control" name="address" id="address" #address=ngModel [(ngModel)]="NewPedido.Address" cols="2" rows="1"></textarea> -->
      </div>
      
      <label for="bodega" class="label-form pr-1 pl-2 col-md-1" title="Bodega desde la que se enviarán los Productos">
        Bodega:
      </label>
      <div class="input-group col-md-3 mb-2 pl-2 pr-1  pl-md-3  pr-md-4"  title="Bodega en la que se Ingresarán los Productos">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-industry"></i>
          </div>
        </div>
        <select name="bodega" id="bodega" #bodega="ngModel" (click)="SelectCurrentBodega()" (change)="SelectCurrentBodega()" [(ngModel)]="NewPedido.Bodega" class="form-control">
          <option value="{{bodega.Bodega._id}}" *ngFor="let bodega of Bodegas" >{{bodega.Bodega.Name}}</option>
        </select>
      </div>
<!-- 
      <label for="" class="label-form pr-1 pl-2 pl-md-0 col-md-1" title="Ubicación a la que se enviarán los Productos">
        Ubicación GPS:
      </label>
      <button class="btn btn-block btn-info col-md-2  pr-1 pl-2 mb-2">
        Seleccionar Ubicación <i class="fas fa-map-marker-alt"></i>
      </button> -->

      <label for="Empresa" class="label-form pr-1 pl-2 col-md-2  pl-md-5" title="Bodega desde la que se enviarán los Productos">
        Empresa de Repartos:
      </label>
      <div class="input-group col-md-3 mb-2 pl-2 pr-1"  title="Bodega en la que se Ingresarán los Productos">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-building"></i>
          </div>
        </div>
        <select name="Empresa" id="Empresa" #Empresa="ngModel" (click)="setCurrentEmpresa()" (change)="setCurrentEmpresa()" [(ngModel)]="NewPedido.Deliverer" class="form-control">
          <option value="{{empresa._id}}" *ngFor="let empresa of Empresas" >{{empresa.Name}}</option>
        </select>
      </div>
      <table class="table table-bordered table-responsive-sm table-hover table-striped pb-0 mb-0">
        <thead>
          <tr>
            <th class="text-center p-0" rowspan="2" width="15%">
              Producto
            </th>
            <th class="text-center p-0" rowspan="2" width="12%">
              Variante
            </th>
            <th class="text-center p-0" colspan="4" width="20%" >
              Unidades
            </th>
            <th class="text-center p-0" colspan="2" width="10%" >
              Descuento
            </th>
            <th class="text-center p-0" colspan="3" width="10%" >
              Costo
            </th>
            <th rowspan="2" colspan="2" class="text-center p-0" width="3%">
              <i class="fa fa-bars"></i>
            </th>
          </tr>
          <tr>
            <!-- 100 -->
            <!-- <th class ="text-center" width="15%">Producto</th> -->
            <!--class ="text-center"  85 -->
            <!-- <th class ="text-center" width="10%">Variante-Stock</th> -->
            <!--class ="text-center"  75 -->
            <th class ="text-center p-0" width="5%">Vendidas</th>
            <!--class ="text-center"  70 -->
            <th class ="text-center p-0" width="5%">Promoción</th>
            <!--class ="text-center"  65 -->
            <th class ="text-center p-0" width="5%">Total</th>
            <!--class ="text-center"  60 -->
            <th class ="text-center p-0" width="5%">$xUnd</th>
            <!--class ="text-center"  55 -->
            <th class ="text-center p-0" width="5%">$ Desc</th>
            <!--class ="text-center"  50 -->
            <th class ="text-center p-0" width="5%">% Desc</th>
            <!--class ="text-center"  45 -->
            <th class ="text-center p-0" width="5%">Ideal</th>
            <!--class ="text-center"  40 -->
            <th class ="text-center p-0" width="5%">Descuentos</th>
            <!--class ="text-center"  35 -->
            <th class ="text-center p-0" width="5%">Final</th>
            <!-- <th class ="text-center" width="3%"><i class="fa fa-bars"></i></th> -->
            <!-- 30 -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listaPedido of listaPedidos; let i = index">
            <!-- Producto           -->
            <td class="p-0">
              <select  *ngIf="SelectedBodega" (change)="listaPedido.ProductoVariante = ''" [disabled]="!NewPedido.Bodega" name="Producto{{i}}" id="Producto{{i}}" #Producto=ngModel [(ngModel)]="listaPedido.Producto" class="form-control">
                <option *ngFor="let Producto of Productos" [value]="Producto._id">
                  {{Producto.Name}} - 
                  <span *ngIf="Producto.Brand">
                    {{Producto.Brand}}
                  </span>
                  <span *ngIf="!Producto.Brand">
                    Alfibeton
                  </span>
                </option>
              </select>
              <label for="" class="form-control text-danger control-disabled" *ngIf="!SelectedBodega">
                Seleccionar Bodega
              </label>
            </td>
            <!-- Variante-Stock -->
            <td class="p-0">
              <select *ngIf="listaPedido.Producto" [disabled]="!listaPedido.Producto" name="ProductoVariante{{i}}" id="ProductoVariante{{i}}" #ProductoVariante=ngModel [(ngModel)]="listaPedido.ProductoVariante" class="form-control">
                <option [value]="variante.Variante._id"  [hidden]="variante.Variante.Producto._id != listaPedido.Producto && !(variante.Variante.Producto.Brand && variante.Variante.Producto.Brand != '') " *ngFor="let variante of SelectedBodega.Variantes" >
                  {{variante.Variante.Variante}} - {{variante.Units}} Unds.
                </option>
                <option *ngFor="let variante of Variantes" [hidden]="variante.Producto._id != listaPedido.Producto" [value]="variante._id">
                  {{variante.Variante}} - Unds. Sin Contabilizar
                </option>
              </select>
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.Producto">
                Seleccionar Producto
              </label>
            </td>
            <!-- Unidades Vendidas -->
            <td class="p-0">
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.ProductoVariante">
                Sel.Var.
              </label>
              <input type="number" (change)="listaPedido.UnitsFree = 0; SetValues(listaPedido)" id="UnitsSell{{i}}" name="UnitsSell{{i}}" #UnitsSell=ngModel [(ngModel)]="listaPedido.UnitsSell" class="form-control text-right" *ngIf="listaPedido.ProductoVariante" min="0" max="{{getMaxValue(listaPedido)}}" >
            </td>
            <!-- Unidades Gratis -->
            <td class="p-0">
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.ProductoVariante">
                Sel.Var.
              </label>
              <input type="number" (change)="SetValues(listaPedido)" id="UnitsFree{{i}}" name="UnitsFree{{i}}" #UnitsFree=ngModel [(ngModel)]="listaPedido.UnitsFree" class="form-control text-right" *ngIf="listaPedido.ProductoVariante" min="0" max="{{getMaxValue(listaPedido) - listaPedido.UnitsSell}}" >
            </td>
            <!-- Unidades Totales -->
            <td class="p-0"> 
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.ProductoVariante">
                Sel.Var.
              </label>
              <label for="" *ngIf="listaPedido.ProductoVariante" class="form-control text-success control-disabled text-right">
                {{listaPedido.UnitsProx}}
              </label>
            </td>
            <!-- costo unidad -->
            <td class="p-0">
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.ProductoVariante">
                Sel.Var.
              </label>
              <div class="input-group" *ngIf="listaPedido.ProductoVariante">
                <div class="input-group-prepend">
                  <span class="input-group-text pl-1 pr-1">$</span>
                </div>
                <input type="number" step="0.05" (change)="SetValues(listaPedido)" id="ValueByUnits{{i}}" name="ValueByUnits{{i}}" #ValueByUnits=ngModel [(ngModel)]="listaPedido.ValueByUnits" class="form-control pl-1 pr-1">
              </div>
            </td>
            <!-- descuento -->
            <td class="p-0">
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.ProductoVariante">
                Sel.Var.
              </label>
              <div class="input-group"  *ngIf="listaPedido.ProductoVariante">
                <div class="input-group-prepend">
                  <span class="input-group-text pl-1 pr-1">$</span>
                </div>
                <input type="number" (change)="SetValues(listaPedido)" id="Discount{{i}}" name="Discount{{i}}" #Discount=ngModel [(ngModel)]="listaPedido.Discount" step="0.05" class="form-control pl-1 pr-1">
              </div>
            </td>
            <!-- porcentaje -->
            <td class="p-0">
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.ProductoVariante">
                Sel.Var.
              </label>
              <div class="input-group" *ngIf="listaPedido.ProductoVariante">
                <input type="number" (change)="SetValues(listaPedido)" id="Percent{{i}}" name="Percent{{i}}" #Percent=ngModel [(ngModel)]="listaPedido.Percent" step="5" max="25" class="form-control text-right pl-1 pr-1">
                <div class="input-group-append">
                  <span class="input-group-text pl-1 pr-1">%</span>
                </div>
              </div>
            </td>
            <!-- costo Ideal -->
            <td class="p-0">
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.ProductoVariante">
                Sel.Var.
              </label>
              <label for="" class="form-control text-warning control-disabled" *ngIf="listaPedido.ProductoVariante">
                {{listaPedido.ValueIdeal | currency}}
              </label>
            </td>
            <!-- costo Descuento -->
            <td class="p-0">
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.ProductoVariante">
                Sel.Var.
              </label>
              <label for="" class="form-control text-danger control-disabled" *ngIf="listaPedido.ProductoVariante">
                {{listaPedido.TotalDiscount | currency}}
              </label>
            </td>
            <!-- costo final -->
            <td class="p-0">
              <label for="" class="form-control text-danger control-disabled" *ngIf="!listaPedido.ProductoVariante">
                Sel.Var.
              </label>
              <label for="" class="form-control text-success control-disabled" *ngIf="listaPedido.ProductoVariante">
                {{listaPedido.FinalValueProx | currency}}
              </label>
            </td>
            <td class="p-0">
              <button title="Borrar Este Producto" class="btn btn-block pl-1 pr-1"
                [disabled]="listaPedidos.length == 1" 
                [class.btn-warning]="!(listaPedidos.length == 1)" 
                [class.btn-gray]="listaPedidos.length == 1" 
                (click)="deleteProductoOfList(i)" >
                <i class="fa fa-trash"></i>
              </button>          
            </td>
            <td class="p-0">
              <button title="Agregar Otro Producto" class="btn  btn-block pl-1 pr-1"
                [disabled]="listaPedidos.length != (i+1)" 
                [class.btn-success]="!(listaPedidos.length != (i+1))" 
                [class.btn-gray]="listaPedidos.length != (i+1)"  
                (click)="addListaPedido()" >
                <i class="fa fa-plus"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-4 offset-md-8 col-sm-6 offset-sm-6 pr-0">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th class="text-right">Sub Total</th>
              <td>{{NewPedido.SubTotal | currency}}</td>
            </tr>
            <tr>
              <th class="text-right">Descuentos</th>
              <td>{{NewPedido.TotalDiscount | currency}}</td>
            </tr>
            <tr>
              <th class="text-right">Total</th>
              <td>{{NewPedido.Total | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </form>
    <div class="content p-2">
      <button class="btn btn-warning pull-left ml-1" (click)="cleanData()">
        <i class="fa fa-trash arrow"></i>&nbsp; 
        Limpiar Datos
      </button>
      <button class="btn btn-success pull-right" (click)="loadSelectedData()" data-target="#confirm-modal" data-toggle="modal" [disabled]="!SelectedBodega || !NewPedido.GPS || !NewPedido.Deliverer || !SelectedClient || !NewPedido.OrderTime || !NewPedido.OrderDate">
          <i class="fa fa-save arrow"></i> Confirmar
      </button>
    </div>
  </div>
</div>


<div class="modal fade" id="received-modal" tabindex="-1" role="dialog" aria-labelledby="modal-info" >
  <div class="modal-dialog modal-xl" role="document" >
    <div class="modal-content">
      <div class="modal-header state modal-info">
        <h4 class="modal-title" id="user-modal-label">
          Cliente que Recibirá el pedido
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body widget-body m-3">

        <div class="input-group mb-2">
          <span class="input-group-prepend">
            <span class="input-group-text bg-transparent border-0"><i class="fa fa-search ml-2 mr-1"></i></span>
          </span>
          <input class="form-control border-0" type="text" id=searchTextClient name=searchTextClient (change)="defineClient();"
            (keyup)="defineClient();" [(ngModel)]="searchTextClient" placeholder="{{searchTitleClient}}">
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle no-caret bg-transparent border-0 box-shadow-none"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right box-shadow rounded-0">
              <a class="dropdown-item" href="javascript:void(0);" (click)="typeClient = 'all'; defineClient();">Todo</a>
              <a class="dropdown-item" href="javascript:void(0);" (click)="typeClient = 'phone'; defineClient();">Tel&eacute;fono</a>
              <a class="dropdown-item" href="javascript:void(0);" (click)="typeClient = 'name'; defineClient();">Nombres</a>
              <a class="dropdown-item" href="javascript:void(0);" (click)="typeClient = 'lastname'; defineClient();">Apellidos</a>
              <a class="dropdown-item" href="javascript:void(0);" (click)="typeClient = 'ci'; defineClient();">C&eacute;dula</a>
              <!-- <a class="dropdown-item" href="javascript:void(0);" (click)="type = 'city'; define();">Ciudad</a> -->
              <!-- <a class="dropdown-item" href="javascript:void(0);" (click)="typeClient = 'address'; defineClient();">Direcci&oacute;n</a> -->
            </div>
          </div>
        </div>

        <table *ngIf="clientes && clientes.length >=1 " class="table table-responsive-sm table-striped table-sm table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th [class.gray-highlight]="typeClient != 'all' && typeClient !='phone'"    >Télefono</th>
              <th [class.gray-highlight]="typeClient != 'all' && typeClient !='name'"     >Nombres</th>
              <th [class.gray-highlight]="typeClient != 'all' && typeClient !='lastname'" >Apellidos</th>
              <th [class.gray-highlight]="typeClient != 'all' && typeClient !='ci'"       >Cédula</th>
              <th [class.gray-highlight]="typeClient != 'all' && typeClient !='address'"     >Dirección</th>
            </tr>
          </thead>
          <tbody>
            <tr  class="selectable" *ngFor="let personaItem of clientes; let i=index"[class.bg-success-ligth]="SelectedClient && SelectedClient._id == personaItem._id"  (click)="SelectedClient = personaItem; NewPedido.Client = personaItem._id">
              <td>
                <label class="btn" (click)="SelectedClient = personaItem; NewPedido.Client = personaItem._id">
                  <i *ngIf="SelectedClient && SelectedClient._id == personaItem._id" class="fa fa-check-square-o text-success"></i>
                  <i *ngIf="!SelectedClient || SelectedClient._id != personaItem._id" class="fa fa-square-o text-primary"></i>
                </label>
              </td>
              <!-- <th  [class.bg-deleted]="!personaItem.Active" scope="row">{{i+1}}</th> -->
              <td [class.gray-highlight]="typeClient != 'all' && typeClient !='phone'"     [class.bg-deleted]="!personaItem.Active">
                {{personaItem.Phone}}
              </td>
              <td [class.gray-highlight]="typeClient != 'all' && typeClient !='name'"      [class.bg-deleted]="!personaItem.Active">{{personaItem.FirstName}}</td>
              <td [class.gray-highlight]="typeClient != 'all' && typeClient !='lastname'"  [class.bg-deleted]="!personaItem.Active">{{personaItem.LastName}}</td>
              <td [class.gray-highlight]="typeClient != 'all' && typeClient !='ci'"        [class.bg-deleted]="!personaItem.Active">{{personaItem.Ci}}</td>
              <td [class.gray-highlight]="typeClient != 'all' && typeClient !='address'"      [class.bg-deleted]="!personaItem.Active">
                <span *ngIf="personaItem.GPS">
                  {{JSONParse(personaItem.GPS).address_components[0].long_name}},
                  {{JSONParse(personaItem.GPS).address_components[1].long_name}} -
                  {{JSONParse(personaItem.GPS).address_components[2].long_name}} -
                  {{JSONParse(personaItem.GPS).address_components[3].long_name}} 
                  <span *ngIf="JSONParse(personaItem.GPS).address_components[4]">
                    - {{JSONParse(personaItem.GPS).address_components[4].long_name}} 
                  </span>
                  <span *ngIf="JSONParse(personaItem.GPS).address_components[5]">
                    - {{JSONParse(personaItem.GPS).address_components[5].long_name}} 
                  </span>
                  <span *ngIf="JSONParse(personaItem.GPS).address_components[6]">
                    - {{JSONParse(personaItem.GPS).address_components[6].long_name}} 
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!clientes || clientes.length < 1" role="alert" class="alert alert-dismissible fade show"
        [class.alert-danger]="searchTextClient == ''" [class.alert-warning]="searchTextClient != ''">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </button>
          <span *ngIf="searchTextClient != ''">
            <strong>Sin Resultados!</strong> Al parecer la Busqueda no ha devuelto ningún resultado
          </span>
          <span *ngIf="searchTextClient == ''">
            <strong>Sin Personas!</strong> Al parecer no se han Registrado Personas en el Sistema o hubo un Error en el Servidor
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"  data-dismiss="modal"> <i class="fa fa-save"></i> Guardar Datos</button>
        <button class="btn btn-warning pull-right" (click)="SelectedClient = undefined; NewPedido.Client = undefined">
          <i class="fa fa-trash"></i> Quitar Seleccionado
        </button>
      </div>
    </div>
  </div>

</div>
<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="warning-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-warning">
        <h4 id="confirm-modal-header" class="modal-title">
          <span *ngIf="!SelectedPedido">Confirmación de</span> Solicitud <span *ngIf="!SelectedPedido">de Pedido</span> <span *ngIf="SelectedPedido && SelectedPedido.Number">N°: {{SelectedPedido.Number}} - [Ingresado]</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body widget-body mr-3 ml-3 mb-3">
        <div class="content row">
          <label for="" class="label-form col-md-4">
            <strong>Fecha: </strong> {{NewPedido.OrderDate | date: 'dd MMMM yyyy'}}.
            <strong>Eje Horario: </strong> {{NewPedido.OrderTime}}
          </label>
          <label *ngIf="bufferSelectedBodega" for="" class="label-form col-md-4">
            <strong>Bodega de salida: </strong> {{bufferSelectedBodega.Bodega.Name}}
            <br>
            <strong>Dirección: </strong> 
            <span *ngIf="NewPedido.GPS">
              {{JSONParse(NewPedido.GPS).address_components[0].long_name}},
              {{JSONParse(NewPedido.GPS).address_components[1].long_name}} -
              {{JSONParse(NewPedido.GPS).address_components[2].long_name}} -
              {{JSONParse(NewPedido.GPS).address_components[3].long_name}} 
              <span *ngIf="JSONParse(NewPedido.GPS).address_components[4]">
                - {{JSONParse(NewPedido.GPS).address_components[4].long_name}} 
              </span>
              <span *ngIf="JSONParse(NewPedido.GPS).address_components[5]">
                - {{JSONParse(NewPedido.GPS).address_components[5].long_name}} 
              </span>
              <span *ngIf="JSONParse(NewPedido.GPS).address_components[6]">
                - {{JSONParse(NewPedido.GPS).address_components[6].long_name}} 
              </span>
            </span>
          </label>
          <table class="col-12 table table-bordered table-responsive-sm table-hover table-striped">
            <thead>
              <tr>
                <th rowspan="2" class="text-center p-0" width="30%">
                  Producto
                </th>
                <th colspan="3" class="text-center p-0" width="30%">
                  Unidades
                </th>
                <th colspan="2" class="text-center p-0" width="20%">
                  Descuentos
                </th>
                <th colspan="3" class="text-center p-0" width="20%">
                  Costo
                </th>
              </tr>
              <tr>
                <th class ="text-center p-0" width="5%">Vendidas</th>
                <th class ="text-center p-0" width="5%">Promoción</th>
                <th class ="text-center p-0" width="5%">Total</th>
                <th class ="text-center p-0" width="5%">$ Desc</th>
                <th class ="text-center p-0" width="5%">% Desc</th>
                <th class ="text-center p-0" width="5%">Ideal</th>
                <th class ="text-center p-0" width="5%">Descuentos</th>
                <th class ="text-center p-0" width="5%">Final</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listaPedido of listaPedidos; let i = index">
                <td class="p-0" *ngIf="SelectedBodega && SelectedBodega.Variantes">
                  <span [hidden]="variante.Variante._id != listaPedido.ProductoVariante" *ngFor="let variante of SelectedBodega.Variantes">
                    {{variante.Variante.Producto.Name}} - {{variante.Variante.Variante}} [{{variante.Units}} Unds.]
                  </span>
                  <span *ngFor="let variante of Variantes" [hidden]="variante.Producto._id != listaPedido.Producto">
                    {{variante.Producto.Name}} {{variante.Variante}} [Unds. Sin Contabilizar]
                  </span>
                </td>
                <td class="p-0">
                  <label for="">
                    {{listaPedido.UnitsSell}}
                  </label>
                </td>
                <td class="p-0">
                  {{listaPedido.UnitsFree}}
                </td>
                <td class="p-0">
                  {{listaPedido.UnitsProx}}
                </td>
                <td class="p-0">
                  {{listaPedido.Discount | currency}}
                </td>
                <td class="p-0">
                  {{listaPedido.Percent+'%'}}
                </td>
                <td class="p-0">
                  {{listaPedido.ValueIdeal | currency}}
                </td>
                <td class="p-0">
                  {{listaPedido.TotalDiscount | currency}}
                </td>
                <td class="p-0">
                  {{listaPedido.FinalValueProx | currency}}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-4 offset-md-8 col-sm-6 offset-sm-6 pr-0">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th class="text-right">Sub Total</th>
                  <td>{{NewPedido.SubTotal | currency}}</td>
                </tr>
                <tr>
                  <th class="text-right">Descuentos</th>
                  <td>{{NewPedido.TotalDiscount | currency}}</td>
                </tr>
                <tr>
                  <th class="text-right">Total</th>
                  <td>{{NewPedido.Total | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12">
            <button class="btn btn-warning pull-left ml-1" data-dismiss="modal">
              <i class="fa fa-times arrow"></i>&nbsp; 
              Cancelar
            </button>
            <button class="btn btn-success pull-right" *ngIf="!(SelectedPedido && SelectedPedido.Number)" (click)="onSubmit()">
                <i class="fa fa-save arrow"></i> Guardar Datos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="maps-modal" tabindex="-1" role="dialog" aria-labelledby="modal-info-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-info">
        <h4 class="modal-title" id="modal-info-label">
          <i class="fas fa-map-marked-alt"></i>
          <span *ngIf="!NewPedido.Address">
            Seleccionar Dirección
          </span>
          <span *ngIf="NewPedido.Address">
            {{NewPedido.Address}}
          </span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body widget-body">
        <div class="content row pr-3 pl-3">
          <div id="floating-panel" class="col-12 input-group mb-2">
            <div class="input-group-prepend">
              <button class="btn btn-success" id="GetAddress">
                <i class="fas fa-map-marked-alt"></i>
                Buscar!
              </button>
            </div>
            <input id="address" type="textbox" class="form-control"
              placeholder="Buscar dirección, ciudad, cantón, provincia o pais" />
            <!-- <input id="GetAddress" type="button" value="Geocode" /> -->
          </div>
          <div class="col-12 mb-2">
            <div name=MyGoogleMap id=MyGoogleMap style="width: 100%; height: 500px; border-radius: 5px;"></div>
          </div>
          <div class="col-12">
            <div *ngIf="currPosition && currPosition.address_components && currPosition.address_components[0]" role="alert" class="alert alert-success alert-dismissible fade show">
              <!-- <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                <span aria-hidden="true">×</span>
              </button> -->
              <strong>Ubicación Localizada!</strong>
              {{currPosition.address_components[0].long_name}} -
              {{currPosition.address_components[1].long_name}} -
              {{currPosition.address_components[2].long_name}} -
              {{currPosition.address_components[3].long_name}}
              <span *ngIf="currPosition.address_components[4]">
                - {{currPosition.address_components[4].long_name}}
              </span>
              <span *ngIf="currPosition.address_components[5]">
                - {{currPosition.address_components[5].long_name}}
              </span>
              <span *ngIf="currPosition.address_components[6]">
                - {{currPosition.address_components[6].long_name}}
              </span>
            </div>
            <div *ngIf="!currPosition" role="alert" class="alert alert-danger alert-dismissible fade show">
              <!-- <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                <span aria-hidden="true">×</span>
              </button> -->
              <strong>Alerta!</strong> 
              No se ha encontrado la Dirección, prueba ingresandola en el buscador o seleccionandola manualmente. 
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer widget-body">
        <div class="content row">
          <div class="col-12">
            <button id="setCurrentPosition" data-dismiss="modal" aria-label="Close"  class="btn btn-success pull-left" [disabled]="!currPosition">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <button class="btn btn-info ml-3" id="setNewPosition" *ngIf="SelectedClient">
              <i class="fa fa-info"></i>
              Dirección del Cliente
            </button>
            <button id="clearInfowidow"  data-dismiss="modal" aria-label="Close" class="btn btn-warning pull-right ml-3" (click)="currPosition = undefined">
              <i class="fa fa-trash"></i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>