<div class="col-lg-12 row">
  <div class="col-lg-5 mb-3">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">
          Formulario de
          <ng-container *ngIf="newUsuario && newUsuario._id && newUsuario._id != ''; else EditingTemplate">
            Ingreso de Usuarios
          </ng-container>
          <ng-template #EditingTemplate>
            Edición de Usuarios
          </ng-template>
        </h5>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          <!-- <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a> -->
        </div>
      </div>
      <div class="card-body widget-body bg-light">

        <span >
          <button class="btn btn-block mb-2" [class.btn-success]="isNew" [class.btn-info]="!isNew"
            (click)="isNew = !isNew; SelectedPersona = null;  newUsuario.Persona = ''; PhonePer = ''">
            <span *ngIf="isNew">Cambiar a Seleccion de Persona</span>
            <span *ngIf="!isNew">Cambiar a Ingreso de Nueva Persona</span>
          </button>
          <form *ngIf="!isNew" class="container row">
            <label for="" class="label-form col-md-4">
              <ng-container *ngIf="SelectedPersona && SelectedPersona._id != ''; else SelectedTemplate">
                Teléfono:
              </ng-container>
              <ng-template #SelectedTemplate>
                Persona:
              </ng-template>
            </label>
            <div class="input-group col-md-8 mb-2">
              <input type="text" list="PersonasDataList" placeholder="Buscar Persona" class="form-control"
                [class.is-valid]="SelectedPersona && SelectedPersona._id != ''"
                [class.is-invalid]="!SelectedPersona || SelectedPersona._id == ''"
                (change)="setPersona(PhonePersona.value)" (keyup)="setPersona(PhonePersona.value)" id="PhonePersona"
                name="PhonePersona" #PhonePersona [(ngModel)]="PhonePer">
              <span
                *ngIf="PhonePersona.touched && (!SelectedPersona || !SelectedPersona._id || SelectedPersona._id == '')"
                class="col-12 text-sm text-danger">
                Seleccionar una Persona
              </span>
              <datalist id="PersonasDataList">
                <option *ngFor="let persona of Personas" value="{{persona.Phone}}">
                  {{persona.FirstName + ' ' + persona.LastName}}
                  <span *ngIf="persona.Ci">{{' - ' + persona.Ci}}</span>
                </option>
              </datalist>
            </div>
            <label *ngIf="SelectedPersona && SelectedPersona._id" for="" class="label-form col-md-4">Cédula:</label>
            <div *ngIf="SelectedPersona && SelectedPersona._id" class="input-group col-md-8 mb-2">
              <span class="form-control disabled">
                {{SelectedPersona.Ci}}
              </span>
            </div>
            <label *ngIf="SelectedPersona && SelectedPersona._id" for="" class="label-form col-md-4">Nombres:</label>
            <div *ngIf="SelectedPersona && SelectedPersona._id" class="input-group col-md-8 mb-2">
              <span class="form-control disabled">
                {{SelectedPersona.FirstName}}
              </span>
            </div>
            <label *ngIf="SelectedPersona && SelectedPersona._id" for="" class="label-form col-md-4">Apellidos:</label>
            <div *ngIf="SelectedPersona && SelectedPersona._id" class="input-group col-md-8 mb-2">
              <span class="form-control disabled">
                {{SelectedPersona.LastName}}
              </span>
            </div>
            <label *ngIf="SelectedPersona && SelectedPersona._id" for="" class="label-form col-md-4">Dirección:</label>
            <div *ngIf="SelectedPersona && SelectedPersona._id" class="input-group col-md-8 mb-2">
              <span class="form-control disabled">
                {{JSONParse(SelectedPersona.GPS).address_components[1].long_name}} -
                {{JSONParse(SelectedPersona.GPS).address_components[2].long_name}} -
                {{JSONParse(SelectedPersona.GPS).address_components[3].long_name}}
                <span *ngIf="JSONParse(SelectedPersona.GPS).address_components[4]"> -
                  {{JSONParse(SelectedPersona.GPS).address_components[4].long_name}}</span>
                <span *ngIf="JSONParse(SelectedPersona.GPS).address_components[5]"> -
                  {{JSONParse(SelectedPersona.GPS).address_components[5].long_name}}</span>
                <span *ngIf="JSONParse(SelectedPersona.GPS).address_components[6]"> -
                  {{JSONParse(SelectedPersona.GPS).address_components[6].long_name}}</span>
              </span>
            </div>
          </form>
          <form *ngIf="isNew" class="container row">
            <label for="" class="label-form col-md-4"><strong>Cédula:*</strong></label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-address-card"></i>
                </span>
              </div>
              <input class="form-control" placeholder="Cédula de la Persona" name=Ci id=Ci #Ci=ngModel
                pattern="[0-9]{10,10}" (change)="comprobar_ci(Ci.value); cedulaUnica(Ci.value)"
                (keyup)="comprobar_ci(Ci.value) ;cedulaUnica(Ci.value)"
                [class.is-invalid]="ci_correcta === false && ci_unica === false"
                [class.is-valid]="ci_correcta === true && ci_unica === true" minlength="10" maxlength="10"
                [disabled]="newPersona._id != ''" [(ngModel)]=newPersona.Ci type="text">
              <span *ngIf="ci_correcta === false && no === true" class="text-sm text-danger col-12">
                C&eacute;dula Incorrecta
              </span>
              <span *ngIf="ci_unica === false" class="text-sm text-danger col-12">
                C&eacute;dula ya Registrada!
              </span>
              <!-- <span *ngIf="ci_correcta === true && ci_unica == true" class="text-sm text-success col-12">
                C&eacute;dula Correcta!!
              </span>
              <span *ngIf="no === false" class="text-sm text-success col-12">
                C&eacute;dula no es obligatoria
              </span> -->
            </div>
            <label for="" class="label-form col-md-4 mt-2"><strong>Nombres:*</strong></label>
            <div class="input-group col-md-8">
              <input class="form-control" placeholder="Nombres de la Persona" pattern="[A-Za-z ñÑáÁéÉíÍóÓúÚüÜ]{3,25}"
                name=FirstName id=FirstName [class.is-invalid]="FirstName.touched && !FirstName.valid"
                [class.is-valid]="FirstName.touched && FirstName.valid" minlength="3" maxlength="25" required
                #FirstName=ngModel [(ngModel)]=newPersona.FirstName type="text">
              <span *ngIf="FirstName.touched && FirstName.value == ''" class="text-sm text-danger col-12">
                Nombres Obligatorios
              </span>
              <span *ngIf="FirstName.touched && !FirstName.valid && FirstName.value != ''"
                class="text-sm text-danger col-12">
                Nombres Incorrectos
              </span>
            </div>
            <label for="" class="label-form col-md-4 mt-2"><strong>Apellidos:*</strong></label>
            <div class="input-group col-md-8">
              <input class="form-control" pattern="[A-Za-z ñÑáÁéÉíÍóÓúÚüÜ]{3,25}" placeholder="Apellidos de la Persona"
                name=LastName id=LastName #LastName=ngModel minlength="3" maxlength="25" required
                [class.is-invalid]="LastName.touched && !LastName.valid"
                [class.is-valid]="LastName.touched && LastName.valid  && LastName.value != ''"
                [(ngModel)]=newPersona.LastName type="text">
              <span *ngIf="LastName.touched && LastName.value == ''" class="text-sm text-danger col-12">
                Apellidos Obligatorios
              </span>
              <span *ngIf="LastName.touched && !LastName.valid && !(LastName.value == '')"
                class="text-sm text-danger col-12">
                Apellidos Incorrectos
              </span>
            </div>
            <label for="" class="label-form col-md-4 mt-2"><strong>Teléfono:*</strong></label>
            <div class="input-group col-md-8">
              <input class="form-control col-12" placeholder="Teléfono de la Persona" pattern="[0-9]{9,13}" name=Phone
                id=Phone #Phone=ngModel [class.is-invalid]="Phone.touched && !Phone.valid && ph_correcta === false"
                [class.is-valid]="(Phone.touched && Phone.valid && ph_correcta === true)"
                (change)="telfUnica(Phone.value)" (keyup)="telfUnica(Phone.value)" minlength="9" maxlength="10" required
                [(ngModel)]=newPersona.Phone type="text">
              <span *ngIf="Phone.touched && Phone.value == ''" class="text-sm text-danger col-12">
                Teléfono Obligatorio
              </span>
              <span *ngIf="Phone.touched && !Phone.valid && !(Phone.value == '')" class="text-sm text-danger col-12">
                Teléfono Incorrecto
              </span>
              <span *ngIf="ph_correcta === false" class="text-sm text-danger col-12">
                El teléfono ingresado ya Existe!
              </span>
            </div>
            <label for="" class="label-form col-md-4 mt-2"><strong>Dirección:*</strong></label>
            <div class="input-group col-md-8">

              <button class="btn btn-block" (click)="initMap()" [class.btn-info]="!newPersona.GPS"
                [class.btn-success]="newPersona.GPS" id="toEdit" data-toggle="modal" data-target="#maps-modal">
                <i class="fas fa-map-marker-alt"></i>
                &nbsp;
                <ng-container *ngIf="newPersona.GPS; else GPSTemplate">
                  {{JSONParse(newPersona.GPS).formatted_address}}
                </ng-container>
                <ng-template #GPSTemplate>
                  Elegir Dirección
                </ng-template>
              </button>
            </div>

          </form>
          <hr>
          <form class="container row">
            <label for="" class="label-form col-md-4"><strong>Correo Electrónico:*</strong></label>
            <div class="input-group col-md-8">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="email" placeholder="afibeton@mail.com" class="form-control" id="Email" name="Email"
                [class.is-invalid]="Email.touched && !Email.valid"
                [class.is-valid]="(Email.touched && Email.valid && mail_unico === true)"
                (change)="mailUnico(Email.value)" (keyup)="mailUnico(Email.value)" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #Email=ngModel [(ngModel)]="newUsuario.Email">
              <span *ngIf="!Email.touched || Email.valid" class="text-sm text-danger col-12">
                &nbsp;
              </span>
              <span *ngIf="Email.touched && Email.value == ''" class="text-sm text-danger col-12">
                Correo Electrónico Obligatorio
              </span>
              <span *ngIf="Email.touched && !Email.valid && !(Email.value == '')" class="text-sm text-danger col-12">
                Correo Electrónico Incorrecto
              </span>
              <span *ngIf="mail_unico === false" class="text-sm text-danger col-12">
                Este Correo ya Existe!
              </span>
            </div>
            <label for="" class="label-form col-md-4"><strong>Rol:*</strong></label>
            <div class="input-group col-md-8 col-sm-12 mb-2 ">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user-shield"></i>
                </span>
              </div>
              <input type="text" list="RolesList" minlength="3" required class="form-control" name="Rol" id="Rol"
                #Rol=ngModel [(ngModel)]="newUsuario.Role" (click)="checkRole()" (change)="checkRole()">
              <datalist id="RolesList">
                <!-- <option>Administrador</option> -->
                <option>Secretario</option>
                <option>Encargado de Bodega</option>
                <option>Encargado de Repartidores</option>
                <option>Motorizado</option>
              </datalist>
              <span *ngIf="Rol.touched && Rol.value == ''" class="text-sm text-danger col-12">
                Rol del Usuario Obligatorio
              </span>
              <span *ngIf="Rol.touched && !Rol.valid && !(Rol.value == '')" class="text-sm text-danger col-12">
                Rol del Usuario Incorrecto
              </span>
            </div>
            <hr
              *ngIf="newUsuario.Role.toString() == 'Motorizado' || newUsuario.Role.toString() == 'Encargado de Repartidores' || newUsuario.Role.toString() == 'Encargado de Bodega'"
              class="col-12">
            <label *ngIf="newUsuario.Role == 'Motorizado' || newUsuario.Role == 'Encargado de Repartidores'" for=""
              class="label-form col-md-4"><strong>Empresa:*</strong></label>
            <div *ngIf="newUsuario.Role == 'Motorizado' || newUsuario.Role == 'Encargado de Repartidores'"
              class="input-group col-md-8 mb-2 ">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-building"></i>
                </span>
              </div>
              <ng-container *ngIf="Empresas && Empresas.length >= 1; else EmpresasTemplate">
                <input list="EmpresasList" type="text" (change)="setEmpresa(Empresa.value)"
                  (keyup)="setEmpresa(Empresa.value)"
                  [class.is-invalid]="Empresa.touched && (!SelectedEmpresa || !SelectedEmpresa._id || SelectedEmpresa._id == '' )"
                  [class.is-valid]="(Empresa.touched && SelectedEmpresa && SelectedEmpresa._id && SelectedEmpresa._id != '')"
                  class="form-control" name="Empresa" id="Empresa" #Empresa=ngModel [(ngModel)]="EmpresaInput">
                <span
                  *ngIf="Empresa.touched && (!SelectedEmpresa || !SelectedEmpresa._id || SelectedEmpresa._id == '' )"
                  class="text-sm col-12 text-danger">
                  Seleccionar una Empresa Válida!
                </span>
                <datalist id="EmpresasList">
                  <option *ngFor="let empresa of Empresas" value="{{empresa.Name}}">{{empresa.Address}}</option>
                </datalist>
              </ng-container>
              <ng-template #EmpresasTemplate>
                <a class="btn btn-warning  form-control " [routerLink]="['/empresas']"
                  routerLinkActive="router-link-active">
                  Sin Empresas, Ingresar?
                </a>
              </ng-template>
            </div>
            <label *ngIf="newUsuario.Role == 'Encargado de Bodega'" for="bodega"
              class="label-form col-md-4 col-sm-12"><strong>Bodegas:</strong></label>
            <div *ngIf="newUsuario.Role == 'Encargado de Bodega'" class="input-group col-md-8 col-sm-12 mb-2 ">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-industry"></i>
                </span>
              </div>
              <ng-container *ngIf="Bodegas && Bodegas.length >= 1; else BodegaTemplate">
                <input list="BodegasList" type="text" (change)="setBodega(Bodega.value)"
                  (keyup)="setBodega(Bodega.value)"
                  [class.is-invalid]="Bodega.touched && (!SelectedBodega || !SelectedBodega._id || SelectedBodega._id == '' )"
                  [class.is-valid]="(Bodega.touched && SelectedBodega && SelectedBodega._id && SelectedBodega._id != '')"
                  class="form-control" name="Bodega" id="Bodega" #Bodega=ngModel [(ngModel)]="BodegaInput">
                <span *ngIf="Bodega.touched && (!SelectedBodega || !SelectedBodega._id || SelectedBodega._id == '' )"
                  class="text-sm col-12 text-danger">
                  Seleccionar una Bodega Válida!
                </span>
                <datalist id="BodegasList">
                  <option *ngFor="let bodega of Bodegas" value="{{bodega.Name}}">
                    <span *ngIf="bodega.By" class="badge">[con Encargado]</span>
                    {{bodega.Phone + ' - ' + bodega.Address}}
                  </option>
                </datalist>
              </ng-container>
              <ng-template #BodegaTemplate>
                <a class="btn btn-warning  form-control " [routerLink]="['/bodegas']"
                  routerLinkActive="router-link-active">
                  Sin Bodegas, Ingresar?
                </a>
              </ng-template>
            </div>
            <span *ngIf="newUsuario.Repartidor" class="col-12 text-center">
              <strong>Vehículo de Reparto</strong>
            </span>
            <label *ngIf="newUsuario.Repartidor" for="Tipo"
              class="label-form col-md-4 col-sm-12"><strong>Tipo:*</strong></label>
            <div *ngIf="newUsuario.Repartidor" class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-truck"></i>
                </span>
              </div>
              <select name="Tipo" id="Tipo" #Tipo=ngModel [(ngModel)]="newUsuario.RepData.Tipo" class="form-control">
                <option value="Camión">Camión</option>
                <option value="Motocicleta">Motocicleta</option>
                <option value="Automóvil">Automóvil</option>
                <option value="Camioneta">Camioneta</option>
              </select>
              <span *ngIf="Tipo.touched && newUsuario.RepData.Tipo.toString() == ''" class="text-sm text-danger col-12">
                Tipo de Vehículo Obligatorio
              </span>
            </div>
            <label *ngIf="newUsuario.Repartidor" for="" class="label-form col-md-4 col-sm-12">
              <strong>
                Placa:*
              </strong>
            </label>
            <div *ngIf="newUsuario.Repartidor" class="input-group col-md-8 col-sm-12 mb-2 ">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-ad"></i>
                </span>
              </div>
              <input placeholder="No. de placa [ABC0000]" name="placa" id="placa" #placa=ngModel
                [(ngModel)]="newUsuario.RepData.Placa" type="text" class="form-control">
              <span *ngIf="placa.touched && !placa.valid && placa.value != ''" class="text-sm text-danger">
                Placa Incorrecta
              </span>
              <span *ngIf="placa.touched && !placa.valid && placa.value == ''" class="text-sm text-danger">
                Ingresar Placa
              </span>
            </div>
          </form>
          <hr>
          <div class="col-12">
            <button class="btn btn-warning pull-left ml-1" (click)="cleanData()">
              <i class="fa fa-trash arrow"></i>&nbsp;
              Limpiar
            </button>
            <button class="btn btn-success pull-right" (click)="onSubmit()">
              <i class="fa fa-save"> </i>
              Guardar
            </button>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="col-lg-7 mb-3">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Listado de Usuarios</h5>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-body widget-body bg-light">
        <div class="input-group mb-2">
          <span class="input-group-prepend">
            <span class="input-group-text bg-transparent border-0">
              <i class="fa fa-search"></i>
            </span>
          </span>
          <input type="text" id=searchText name=searchText [(ngModel)]="Filters.searchText"
            placeholder="{{searchTitle}}" (change)="Read();" (keyup)="Read();" class="form-control border-0">
          <div class="btn-group">
            <button class="btn dropdown-toggle no-caret bg-transparent border-0 shadow-none" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right box-shadow rounded-0">
              <a href="javascript:void(0);" class="dropdown-item" (click)="Filters.type = 'all'; Read()">Todo</a>
              <a href="javascript:void(0);" class="dropdown-item" (click)="Filters.type = 'role'; Read()">Rol</a>
              <a href="javascript:void(0);" class="dropdown-item" (click)="Filters.type = 'mail'; Read()">Correo
                Electr&oacute;nico</a>
              <a href="javascript:void(0);" class="dropdown-item"
                (click)="Filters.type = 'ci'; Read()">C&eacute;dula</a>
              <a href="javascript:void(0);" class="dropdown-item" (click)="Filters.type = 'name'; Read()">Nombre</a>
              <a href="javascript:void(0);" class="dropdown-item"
                (click)="Filters.type = 'lastname'; Read()">Apellido</a>
              <a href="javascript:void(0);" class="dropdown-item" (click)="Filters.type = 'phone'; Read()">Télefono</a>
              <a href="javascript:void(0);" class="dropdown-item"
                (click)="Filters.type = 'address'; Read()">Direcci&oacute;n</a>
            </div>
          </div>
        </div>
        <table *ngIf="Usuarios && Usuarios.length >= 1"
          class="table table-hover table-bordered table-striped table-responsive-sm">
          <tbody *ngIf="PaginationData.ItemsPerPage >= 15">
            <tr>
              <td colspan="9">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="PaginationData.Page == 1">
                      <button class="page-link" [disabled]="PaginationData.Page == 1"
                        (click)="PaginationData.Page = (PaginationData.Page - 1); Read();">Anterior</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = 1; Read()" *ngIf="PaginationData.Page - 4 >=1">
                      <button class="page-link">1</button>
                    </li>
                    <li class="page-item" *ngIf="PaginationData.Page - 4 >= 1 &&  PaginationData.Page - 4 != 1">
                      <button class="page-link">...</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page - 3; Read()"
                      *ngIf="PaginationData.Page - 3 >=1">
                      <button class="page-link">{{PaginationData.Page - 3}}</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page - 2; Read()"
                      *ngIf="PaginationData.Page - 2 >=1">
                      <button class="page-link">{{PaginationData.Page - 2}}</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page - 1; Read()"
                      *ngIf="PaginationData.Page - 1 >=1">
                      <button class="page-link">{{PaginationData.Page - 1}}</button>
                    </li>
                    <li class="page-item active">
                      <span class="page-link">{{PaginationData.Page}}</span>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page + 1; Read()"
                      *ngIf="PaginationData.Page + 1 <= PaginationData.Pages">
                      <button class="page-link">{{PaginationData.Page + 1}}</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page + 2; Read()"
                      *ngIf="PaginationData.Page + 2 <= PaginationData.Pages">
                      <button class="page-link">{{PaginationData.Page + 2}}</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page + 3; Read()"
                      *ngIf="PaginationData.Page + 3 <= PaginationData.Pages">
                      <button class="page-link">{{PaginationData.Page + 3}}</button>
                    </li>
                    <li class="page-item"
                      *ngIf="PaginationData.Page + 4 <= PaginationData.Pages && PaginationData.Page + 4 != PaginationData.Pages">
                      <span class="page-link">...</span>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Pages; Read()"
                      *ngIf="PaginationData.Page + 4 <= PaginationData.Pages">
                      <button class="page-link">{{PaginationData.Pages}}</button>
                    </li>
                    <li class="page-item" [class.disabled]="PaginationData.Page >=  PaginationData.Pages">
                      <button class="page-link" [disabled]="PaginationData.Page >=  PaginationData.Pages"
                        (click)="PaginationData.Page = PaginationData.Page + 1; Read()">Siguiente</button>
                    </li>
                  </ul>
                </nav>
              </td>
            </tr>
          </tbody>
          <thead *ngIf="PaginationData.ItemsPerPage >= 15">
            <tr>
              <th></th>
              <th class="text-right">Items Por Página</th>
              <td colspan="1">
                <select class="form-control" name="ItemsPerPage" id="ItemsPerPage" #ItemsPerPage
                  [(ngModel)]="PaginationData.ItemsPerPage" (change)="PaginationData.Page = 1;Read();">
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>50</option>
                  <option>100</option>
                </select>
              </td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th width="30%">
                Correo
              </th>
              <th width="15%">
                Rol
              </th>
              <th width="45%">
                Datos
              </th>
              <!-- <th width="10%" colspan="3">Opciones</th> -->
            </tr>
          </thead>
          <tbody>
            <tr  class="selectable" *ngFor="let usuario of Usuarios" (click)="infoUsuario(usuario)" title="Detalles del Usuario" data-toggle="modal" data-target="#info-modal">
              <td [class.bg-deleted]="!usuario.Active">
                {{usuario.Email}}
              </td>
              <td [class.bg-deleted]="!usuario.Active">
                {{usuario.Role}}
              </td>
              <td [class.bg-deleted]="!usuario.Active">
                <span *ngIf="usuario.Persona.Ci">
                  <strong>Cedula: </strong> {{usuario.Persona.Ci}}
                </span>
                <strong>Tel&eacute;fono: </strong>{{usuario.Persona.Phone}}
                <strong>Nombres: </strong>{{usuario.Persona.FirstName}} {{usuario.Persona.LastName}}
                <br>
                <strong>Direcci&oacute;n: </strong>
                <span *ngIf="usuario.Persona">
                  {{JSONParse(usuario.Persona.GPS).address_components[0].long_name}} -
                  {{JSONParse(usuario.Persona.GPS).address_components[1].long_name}} -
                  {{JSONParse(usuario.Persona.GPS).address_components[2].long_name}} -
                  {{JSONParse(usuario.Persona.GPS).address_components[3].long_name}}
                  <span *ngIf="JSONParse(usuario.Persona.GPS).address_components[4]"> -
                    {{JSONParse(usuario.Persona.GPS).address_components[4].long_name}}</span>
                  <span *ngIf="JSONParse(usuario.Persona.GPS).address_components[5]"> -
                    {{JSONParse(usuario.Persona.GPS).address_components[5].long_name}}</span>
                  <span *ngIf="JSONParse(usuario.Persona.GPS).address_components[6]"> -
                    {{JSONParse(usuario.Persona.GPS).address_components[6].long_name}}</span>
                </span>
                <!-- {{usuario.Persona.City.Name}} - {{usuario.Persona.City.Canton.Name}} -
                {{usuario.Persona.City.Canton.Provincia.Name}} -->
              </td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th></th>
              <th class="text-right">Items Por Página</th>
              <td colspan="1">
                <select class="form-control" name="ItemsPerPage" id="ItemsPerPage" #ItemsPerPage
                  [(ngModel)]="PaginationData.ItemsPerPage" (change)="PaginationData.Page = 1;Read();">
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                  <option>50</option>
                  <option>100</option>
                </select>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="9">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="PaginationData.Page == 1">
                      <button class="page-link" [disabled]="PaginationData.Page == 1"
                        (click)="PaginationData.Page = (PaginationData.Page - 1); Read();">Anterior</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = 1; Read()" *ngIf="PaginationData.Page - 4 >=1">
                      <button class="page-link">1</button>
                    </li>
                    <li class="page-item" *ngIf="PaginationData.Page - 4 >= 1 &&  PaginationData.Page - 4 != 1">
                      <button class="page-link">...</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page - 3; Read()"
                      *ngIf="PaginationData.Page - 3 >=1">
                      <button class="page-link">{{PaginationData.Page - 3}}</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page - 2; Read()"
                      *ngIf="PaginationData.Page - 2 >=1">
                      <button class="page-link">{{PaginationData.Page - 2}}</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page - 1; Read()"
                      *ngIf="PaginationData.Page - 1 >=1">
                      <button class="page-link">{{PaginationData.Page - 1}}</button>
                    </li>
                    <li class="page-item active">
                      <span class="page-link">{{PaginationData.Page}}</span>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page + 1; Read()"
                      *ngIf="PaginationData.Page + 1 <= PaginationData.Pages">
                      <button class="page-link">{{PaginationData.Page + 1}}</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page + 2; Read()"
                      *ngIf="PaginationData.Page + 2 <= PaginationData.Pages">
                      <button class="page-link">{{PaginationData.Page + 2}}</button>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Page + 3; Read()"
                      *ngIf="PaginationData.Page + 3 <= PaginationData.Pages">
                      <button class="page-link">{{PaginationData.Page + 3}}</button>
                    </li>
                    <li class="page-item"
                      *ngIf="PaginationData.Page + 4 <= PaginationData.Pages && PaginationData.Page + 4 != PaginationData.Pages">
                      <span class="page-link">...</span>
                    </li>
                    <li class="page-item" (click)="PaginationData.Page = PaginationData.Pages; Read()"
                      *ngIf="PaginationData.Page + 4 <= PaginationData.Pages">
                      <button class="page-link">{{PaginationData.Pages}}</button>
                    </li>
                    <li class="page-item" [class.disabled]="PaginationData.Page >=  PaginationData.Pages">
                      <button class="page-link" [disabled]="PaginationData.Page >=  PaginationData.Pages"
                        (click)="PaginationData.Page = PaginationData.Page + 1; Read()">Siguiente</button>
                    </li>
                  </ul>
                </nav>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!Usuarios || Usuarios.length < 1" role="alert" class="alert alert-dismissible fade show"
          [class.alert-danger]="Filters.searchText == ''" [class.alert-warning]="Filters.searchText != ''">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </button>
          <span *ngIf="Filters.searchText != ''">
            <strong>Sin Resultados!</strong> Al parecer la Busqueda no ha devuelto ningún resultado
          </span>
          <span *ngIf="Filters.searchText == ''">
            <strong>Sin Usuarios!</strong> Al parecer no se han Registrado Usuarios en el Sistema
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="maps-modal" tabindex="-1" role="dialog" aria-labelledby="modal-info-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-info">
        <h4 class="modal-title" id="modal-info-label" *ngIf="newPersona">
          <i class="fas fa-map-marked-alt"></i>
          <span *ngIf="!newPersona.Address">
            Seleccionar Dirección
          </span>
          <span *ngIf="newPersona.Address">
            {{newPersona.Address}}
          </span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body widget-body">
        <div class="content row pr-3 pl-3">
          <div id="floating-panel" class="col-12 input-group mb-2">
            <div class="input-group-prepend">
              <button class="btn btn-success" id="GetAddress">
                <i class="fas fa-map-marked-alt"></i>
                Buscar!
              </button>
            </div>
            <input id="address" type="textbox" class="form-control"
              placeholder="Buscar dirección, ciudad, cantón, provincia o pais" />
            <!-- <input id="GetAddress" type="button" value="Geocode" /> -->
          </div>
          <div class="col-12 mb-2">
            <div name=MyGoogleMap id=MyGoogleMap style="width: 100%; height: 500px; border-radius: 5px;"></div>
          </div>
          <div class="col-12">
            <div *ngIf="currPosition && currPosition.address_components && currPosition.address_components[0]"
              role="alert" class="alert alert-success alert-dismissible fade show">
              <!-- <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                <span aria-hidden="true">×</span>
              </button> -->
              <strong>Ubicación Localizada!</strong>
              {{currPosition.address_components[0].long_name}} -
              {{currPosition.address_components[1].long_name}} -
              {{currPosition.address_components[2].long_name}} -
              {{currPosition.address_components[3].long_name}}
              <span *ngIf="currPosition.address_components[4]">
                - {{currPosition.address_components[4].long_name}}
              </span>
              <span *ngIf="currPosition.address_components[5]">
                - {{currPosition.address_components[5].long_name}}
              </span>
            </div>
            <div *ngIf="!currPosition" role="alert" class="alert alert-danger alert-dismissible fade show">
              <!-- <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                <span aria-hidden="true">×</span>
              </button> -->
              <strong>Alerta!</strong>
              No se ha encontrado la Dirección, prueba ingresandola en el buscador o seleccionandola manualmente.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer widget-body">
        <div class="content row">
          <div class="col-12">
            <button id="setCurrentPosition" data-dismiss="modal" aria-label="Close" class="btn btn-success pull-left"
              [disabled]="!currPosition">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <button id="clearInfowidow" data-dismiss="modal" aria-label="Close" class="btn btn-warning pull-right ml-3"
              (click)="currPosition = undefined">
              <i class="fa fa-trash"></i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" *ngIf="ViewedUsuario" id="info-modal" tabindex="-1" role="dialog"
  aria-labelledby="modal-info-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-info">
        <h4 class="modal-title" id="modal-info-label" *ngIf="ViewedUsuario"><i class="fa fa-info"></i>Informaci&oacute;n
          del {{ViewedUsuario.Role}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
      </div>
      <div name=MyGoogleMapInfo id=MyGoogleMapInfo style="width: 100%; height: 500px;" class="modal-body">
        <!-- <div></div> -->
      </div>
      <div class="modal-footer">
        <div class="col-12">
          <button class="btn btn-info pull-left" (click)="toUpdateUser(ViewedUsuario)" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-edit"></i>&nbsp;Editar
          </button>
          <button class="btn pull-right" data-dismiss="modal" aria-label="Close" (click)="disableUsuario(ViewedUsuario)"
            [class.btn-outline-warning]="ViewedUsuario.Active" [class.btn-warning]="!ViewedUsuario.Active">
            <i class="fa" [class.fa-eye]="!ViewedUsuario.Active" [class.fa-eye-slash]="ViewedUsuario.Active"></i>
            &nbsp;
            <span *ngIf="ViewedUsuario.Active">Desactivar</span>
            <span *ngIf="!ViewedUsuario.Active">Reactivar</span>
          </button>
        </div>
        <!-- <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button> -->
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button> -->
      </div>
    </div>
  </div>
</div>