<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
    <div class="w-100 h-100p">
        <ngx-charts-number-card
            [scheme]="ProductoBgColor"
            [textColor]="'#fff'"
            [innerPadding]="0"
            [results]="productos"
            [valueFormatting]="infoValueFormat"
            [labelFormatting]="infoLabelFormat"
            (select)="onSelect($event)">
        </ngx-charts-number-card>     
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
    <div class="w-100 h-100p">
        <ngx-charts-number-card
            [scheme]="PersonasBgColor"
            [textColor]="'#fff'"
            [innerPadding]="0"
            [results]="Personas"
            [valueFormatting]="infoValueFormat"
            [labelFormatting]="infoLabelFormat"
            (select)="onSelect($event)">
        </ngx-charts-number-card>     
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
    <div class="w-100 h-100p">
        <ngx-charts-number-card
            [scheme]="UsuariosBgColor"
            [textColor]="'#fff'"
            [innerPadding]="0"
            [results]="Usuarios"
            [valueFormatting]="infoValueFormat"
            [labelFormatting]="infoLabelFormat"
            (select)="onSelect($event)">
        </ngx-charts-number-card>     
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
    <div class="w-100 h-100p">
        <ngx-charts-number-card
            [scheme]="CategoriasBgColor"
            [textColor]="'#fff'"
            [innerPadding]="0"
            [results]="Categorias"
            [valueFormatting]="infoValueFormat"
            [labelFormatting]="infoLabelFormat"
            (select)="onSelect($event)">
        </ngx-charts-number-card>     
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
    <div class="w-100 h-100p">
        <ngx-charts-number-card
            [scheme]="EmpresasBgColor"
            [textColor]="'#fff'"
            [innerPadding]="0"
            [results]="Empresas"
            [valueFormatting]="infoValueFormat"
            [labelFormatting]="infoLabelFormat"
            (select)="onSelect($event)">
        </ngx-charts-number-card>     
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
    <div class="w-100 h-100p">
        <ngx-charts-number-card
            [scheme]="BodegasBgColor"
            [textColor]="'#fff'"
            [innerPadding]="0"
            [results]="Bodegas"
            [valueFormatting]="infoValueFormat"
            [labelFormatting]="infoLabelFormat"
            (select)="onSelect($event)">
        </ngx-charts-number-card>     
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
    <div class="w-100 h-100p">
        <ngx-charts-number-card
            [scheme]="PedidosBgColor"
            [textColor]="'#fff'"
            [innerPadding]="0"
            [results]="Pedidos"
            [valueFormatting]="infoValueFormat"
            [labelFormatting]="infoLabelFormat"
            (select)="onSelect($event)">
        </ngx-charts-number-card>     
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
    <div class="w-100 h-100p">
        <ngx-charts-number-card
            [scheme]="IngresosBgColor"
            [textColor]="'#fff'"
            [innerPadding]="0"
            [results]="Ingresos"
            [valueFormatting]="infoValueFormat"
            [labelFormatting]="infoLabelFormat"
            (select)="onSelect($event)">
        </ngx-charts-number-card>     
    </div>
  </div>
</div>